<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619379259976-50t3jst3hcdfnhmucmvag74gr56hsrep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619379259976-50t3jst3hcdfnhmucmvag74gr56hsrep</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>619379259976-9qnk456eh3vv11lcdbrdjhg4l468lc84.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoa9WS4g-dN5hk5H37GYCeWkokYXURCik</string>
	<key>GCM_SENDER_ID</key>
	<string>619379259976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saman.deliveries</string>
	<key>PROJECT_ID</key>
	<string>saman-863f8</string>
	<key>STORAGE_BUCKET</key>
	<string>saman-863f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619379259976:ios:59eb0f20117b5ac390367d</string>
</dict>
</plist>